/* animation */
@keyframes colorChange {
    0% {
        color: #ba0fba;
    }

    25% {
        color: rgba(228, 125, 6, 0.921);
    }

    50% {
        color: #1dc4da;
    }

    100% {
        color: #4caf50;
    }
}